extends ../layout

block content
  div(class='panel panel-default')
    div(class='panel-heading')
      div(class='row')
        div(class='col-sm-12')
          h3 #{user.displayName}
            small (#{user.username})
    div(class='panel-body')
      div(class='row')
        div(class='col-sm-12')
          div(class='col-sm-12')
            p= user.bio
      br
      div(class='row')
        div(class='col-sm-5')
          div(class='col-sm-3')
            p Location:
          div(class='col-sm-9')
            p= user.location
      div(class='row')
        div(class='col-sm-6')
          a(class='btn btn-primary', href='/user/#{user.username}/participating') Particpating
        div(class='col-sm-6')
          a(class='btn btn-primary', href='/user/#{user.username}/hosting') Hosting
