extends ../layout

block content
  div(class='panel panel-default')
    div(class='panel-heading')
      div(class='row')
        div(class='col-sm-12')
          h3 #{user.displayName}
            small &nbsp;(#{user.username})
    div(class='panel-body')
      div(class='row')
        div(class='col-sm-12')
          div(class='col-sm-12')
            p
              em= user.bio
      br
      div(class='row')
        div(class='col-sm-6')
          div(class='col-sm-3')
            p Location:
          div(class='col-sm-9')
            p= user.location
        div(class='col-sm-6')
          div(class='col-sm-3')
            p Website:
          div(class='col-sm-9')
            a(href='#{user.website}') #{user.website}
      br
      div(class='row')
        div(class='col-sm-6')
          a(class='col-sm-4 col-sm-offset-4 btn btn-primary', href='/user/#{user.username}/participating') Particpated
        div(class='col-sm-6')
          a(class='col-sm-4 col-sm-offset-4 btn btn-primary', href='/user/#{user.username}/hosting') Hosted
